name: Scrape

on:
  push:
  workflow_dispatch:
  schedule:
  # Every 4 hours at 11 past the full hour
  - cron: '11 */4 * * *'

permissions:
  contents: write

jobs:
  scrape:
    runs-on: ubuntu-latest
    if: ${{ !github.event.repository.is_template }}
    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v4

    - name: Cache Playwright browsers
      uses: actions/cache@v4
      with:
        path: ~/.cache/ms-playwright/
        key: ${{ runner.os }}-playwright-${{ hashFiles('pyproject.toml') }}

    - name: Install Playwright browsers
      run: uv run playwright install firefox --with-deps

    - name: Run the scraper
      run: uv run scrape.py

    - name: Commit and push
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "${timestamp}" || exit 0
        git pull --rebase
        git push
